*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgred {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #de2b24;
}

.bgblue {
  padding-top: 95px;
  padding-bottom: 110px;
  background-color: #1287bf;
}

.bggray {
  padding-top: 85px;
  padding-bottom: 80px;
  background-color: #2a2a2a;
}

.underline {
  width: 47px;
  height: 5px;
  border: 0;
  margin: 12px  auto 0px;
  background-color: #fff;
}

.caption {
  margin-bottom: 2.875rem;
}

.gallary {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

/* @media (min-width: 1264px) { 
  .gallary {
    padding: 0 120px;
  }
}

@media (max-width: 1023px) { 
  .gallary {
    padding: 0 15%;
  }
}

@media (max-width: 767px) { 
  .gallary {
    padding: 0;
  }
} */


.card {
  width: 16rem;
  height: 16rem;
}

.card-image {
  margin: auto;
}

.project {
  background-color: #f35e59;
}

.image {
  height: 100%;
  object-fit: cover;
}